image: Visual Studio 2022
configuration: Release
platform: Any CPU
skip_tags: true

services:
  - mssql2017

install:
# Install .NET 10 SDK (adjust version if needed)
  - ps: |
      Write-Host "Installing .NET 10 SDK..."
      $dotnetInstallScript = "$env:temp\dotnet-install.ps1"
      Invoke-WebRequest https://dot.net/v1/dotnet-install.ps1 -OutFile $dotnetInstallScript
      & $dotnetInstallScript -Channel 10.0 -InstallDir "C:\Program Files\dotnet" -NoPath
      dotnet --info
  - ps: Write-Host "SQL Server Compact installed" -foregroundcolor Green
  - ps: $env:version_file_path = ".\version.props"
  - ps: gitversion /output buildserver
  - ps: $env:major_version = (Select-Xml -Path $env:version_file_path -XPath "/Project/PropertyGroup/MajorVersion" | Select-Object -ExpandProperty Node).InnerText
  - ps: $env:minor_version = (Select-Xml -Path $env:version_file_path -XPath "/Project/PropertyGroup/MinorVersion" | Select-Object -ExpandProperty Node).InnerText
  - ps: $env:release_version = [string]([int]((Select-Xml -Path $env:version_file_path -XPath "/Project/PropertyGroup/ReleaseVersion" | Select-Object -ExpandProperty Node).InnerText) + 1)
  - ps: $env:revision = $env:GitVersion_CommitsSinceVersionSource
  - ps: Update-AppveyorBuild -Version "$env:major_version.$env:minor_version.$env:release_version.$env:revision.$env:APPVEYOR_BUILD_NUMBER"
  - ps: $xReleaseVersion = Select-Xml -Path $env:version_file_path -XPath "/Project/PropertyGroup/ReleaseVersion"
  - ps: $xReleaseVersion.Node.InnerText = $env:release_version
  - ps: $xReleaseVersion.Node.OwnerDocument.Save($xReleaseVersion.Path)
  - ps: $xRevision = Select-Xml -Path $env:version_file_path -XPath "/Project/PropertyGroup/Revision"
  - ps: $xRevision.Node.InnerText = $env:revision
  - ps: $xRevision.Node.OwnerDocument.Save($xRevision.Path)


dotnet_csproj:
  patch: false

before_build:
- cmd: dotnet restore "source\Data.sln"

before_test:
  - xcopy /y /s "source\Tests\SqlCe.Tests\lib\sqlce\*.*" "source\Tests\SqlCe.Tests\bin\Release\net47\"
  - xcopy /y /s "source\Tests\SqlCe.Tests\lib\sqlce\*.*" "source\Tests\Data.Tests\bin\Release\net47\"
  - xcopy /y /s "source\Tests\SqlCe.Tests\lib\sqlce\*.*" "source\Tests\Oracle.Tests.VSTS\bin\Release\net47\"
  - xcopy /y /s "source\Tests\SqlCe.Tests\lib\sqlce\*.*" "source\Tests\Oracle.Tests\bin\Release\net47\"
  - ps: |
      sqlcmd -S "127.0.0.1,1433" -U sa -P "Password12!" -Q "IF DB_ID('Northwind') IS NULL CREATE DATABASE Northwind"

build:
  project: source\Data.sln
  parallel: true
  verbosity: minimal

after_build:
  - cmd: scripts\CREATE_Northwind.bat


artifacts:
- path: 'bin\Release\EnterpriseLibrary.Data.*.nupkg'
  name: 'EnterpriseLibrary.Data'


#on_success:
#  - ps: git config --global credential.helper store
#  - ps: Add-Content "$HOME\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
#  - ps: git config --global user.email "$env:github_email"
#  - ps: git config --global user.name "$env:github_name"
#  - git pull
#  - git commit -m "Revision update by AppVeyor [ci skip]" -- version.props
#  - git push

build_script:
  - msbuild source\Data.sln /p:Configuration=Release

