<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	 
  </configSections>


  <connectionStrings>
    <add
     name="DefaultSql"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true" />
	  <add
	name="DefaultSqlAsync"
	providerName="System.Data.SqlClient"
	connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true;Asynchronous Processing=true" />
    <add
     name="DefaultSqlMARS"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true;MultipleActiveResultSets=True" />
    <add
     name="DefaultSqlMARSAsync"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true;MultipleActiveResultSets=True;Asynchronous Processing=true" />
    <add
     name="InvalidConnectionString"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true;Mock" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="DefaultSql">
    <providerMappings>
      <add name="System.Data.SqlClient" databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data"/>
    </providerMappings>
  </dataConfiguration>

</configuration>