<configuration>
	<configSections>
		<section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data" />
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
  </configSections>
	<connectionStrings>
    <add
			name="DataAccessQuickStart1"
			providerName="System.Data.SqlClient"
			connectionString="server=(local)\SQQLEXPRESS;database=EntLibQuickStarts;Integrated Security=true" />
    <add
			name="DataAccessQuickStart" 
			providerName="System.Data.SqlClient"
			connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
		<add
			name="OracleDefaultPackageTest"
			providerName="System.Data.OracleClient"
			connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
	</connectionStrings>
	<dataConfiguration defaultDatabase="DataAccessQuickStart">
    <providerMappings>      
      <add
        databaseType="EnterpriseLibrary.Data.Sql.SqlDatabase, EnterpriseLibrary.Data"
        name="System.Data.SqlClient" />
		<add
        databaseType="EnterpriseLibrary.Data.Oracle.OracleDatabase, EnterpriseLibrary.Data"
        name="System.Data.OracleClient" />
	</providerMappings>
  </dataConfiguration>
</configuration>