<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>

	<connectionStrings>
		<add
		 name="DefaultSql"
		 providerName="System.Data.Odbc"
		 connectionString="server=(localdb)\v11.0;database=AdventureWorks;Integrated Security=true" />
		<add
		 name="InvalidConnectionString"
		 providerName="System.Data.SqlClient"
		 connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true;Mock" />
	</connectionStrings>

	<dataConfiguration defaultDatabase="DefaultSql">
		<providerMappings>
			<add name="System.Data.Odbc" databaseType="Microsoft.Practices.EnterpriseLibrary.Data.GenericDatabase, Microsoft.Practices.EnterpriseLibrary.Data"/>
		</providerMappings>
	</dataConfiguration>

</configuration>