<configuration>
  <configSections>
    <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data" />
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
   
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  
  <unity>
    <containers>
      <container name="myContainer">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
        </extensions>
      </container>
      <container name="SpecialChar\Name">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
          
        </extensions>
      </container>
      <container name="SpecialChar'Name">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
          
        </extensions>
      </container>
      
    </containers>
  </unity>
  <connectionStrings>
    <add
     name="DataAccessQuickStart"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
    <add name="CustomDatabase" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="DBDoesNotExist" connectionString="server=(localdb)\v11.0;database=database;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="GenericSQLTest" connectionString="Provider=SQLOLEDB;Data Source=(localdb)\v11.0;Initial Catalog=TestDatabase;Integrated Security=SSPI;"
      providerName="System.Data.OleDb" />
    <add name="GenericSQLTestODBC" connectionString="Driver={SQL Server Native Client 11.0};Server=(localdb)\v11.0;Database=TestDatabase;TrustedConnection=Yes"
      providerName="System.Data.Odbc" />
    <add name="InvalidConnectionString" connectionString="server=bg1016-ent;"
      providerName="System.Data.OracleClient" />
    <add name="InvalidSqlConnectionString" connectionString="server=bg1016-ent;"
      providerName="System.Data.SqlClient" />
    <add name="SqlCeTest" connectionString="Data Source=TestDb.sdf;"
      providerName="System.Data.SqlServerCe.4.0" />
    <add name="NonExistingProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="abc" />
    <add name="EmptyProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="" />
    <add name="SpaceProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName=" " />
    <add
    name="myConnection"
    providerName="System.Data.SqlClient"
    connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
    
    <add
			name="DataSQLTest"
			providerName="System.Data.SqlClient"
			connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="DataSQLTest">
    <providerMappings>
      <add
				databaseType="EnterpriseLibrary.Data.GenericDatabase, EnterpriseLibrary.Data"
				name="Some.Bogus.Name" />
      <add
				databaseType="EnterpriseLibrary.Data.GenericDatabase, EnterpriseLibrary.Data"
				name="System.Data.OleDb" />
      <add
        databaseType="EnterpriseLibrary.Data.GenericDatabase, EnterpriseLibrary.Data"
        name="System.Data.Odbc" />
      <add
        databaseType="EnterpriseLibrary.Data.Sql.SqlDatabase, EnterpriseLibrary.Data"
        name="System.Data.SqlClient" />
      <add
        databaseType="EnterpriseLibrary.Data.SqlCe.SqlCeDatabase, EnterpriseLibrary.Data.SqlCe"
        name="System.Data.SqlServerCe.4.0" />      
    </providerMappings>
  </dataConfiguration>  
</configuration>