<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  
  </configSections>
  
  <connectionStrings>
    <add
     name="DataAccessQuickStart"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
    <add name="CustomDatabase" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="DBDoesNotExist" connectionString="server=(localdb)\v11.0;database=database;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="GenericSQLTest" connectionString="Provider=SQLOLEDB;Data Source=(localdb)\v11.0;Initial Catalog=TestDatabase;Integrated Security=SSPI;"
      providerName="System.Data.OleDb" />
    <add name="GenericSQLTestODBC" connectionString="{SQL Native Client};SERVER=(localdb)\v11.0;Trusted_Connection=yes;DATABASE=TestDatabase;"
      providerName="System.Data.Odbc" />
    <add name="InvalidConnectionString" connectionString="server=bg1016-ent;"
      providerName="System.Data.OracleClient" />
    <add name="InvalidSqlConnectionString" connectionString="server=bg1016-ent;"
      providerName="System.Data.SqlClient" />
    <add name="OracleDefaultPackageTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;"  providerName="System.Data.OracleClient"/>
    <add name="OracleTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;"  providerName="System.Data.OracleClient"/>
    <add name="SQLCeTest" connectionString="Data Source=TestDb.sdf;"
      providerName="System.Data.SqlServerCe.3.5" />
    <add name="NonExistingProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="abc" />
    <add name="EmptyProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName="" />
    <add name="SpaceProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;"
      providerName=" " />
    <add
    name="myConnection"
    providerName="System.Data.SqlClient"
    connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
    <add
			name="DataSQLTest"
			providerName="System.Data.SqlClient"
			connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="DataSQLTest">
    <providerMappings>
      <add
				databaseType="Microsoft.Practices.EnterpriseLibrary.Data.GenericDatabase, Microsoft.Practices.EnterpriseLibrary.Data"
				name="Some.Bogus.Name" />
    </providerMappings>
  </dataConfiguration>

  <oracleConnectionSettings>
    <add name="OracleTest">
      <packages>
        <add name="ENTLIBTEST" prefix="GetProductDetailsById" />
      </packages>
    </add>
  </oracleConnectionSettings>

  
</configuration>