<configuration>
  <configSections>
    <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data" />
  </configSections>

  <connectionStrings>
    <add
     name="DefaultSql"
     providerName="System.Data.SqlClient"
     connectionString="server=(localdb)\v11.0;database=Northwind;Integrated Security=true" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="DefaultSql">
    <providerMappings>
      <add name="System.Data.SqlClient" databaseType="EnterpriseLibrary.Data.GenericDatabase, EnterpriseLibrary.Data"/>
    </providerMappings>
  </dataConfiguration>

</configuration>