<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data.Oracle" />
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container name="myContainer">
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.Microsoft.Practices.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, Microsoft.Practices.EnterpriseLibrary.Data" />
        </extensions>
      </container>
      <container name="SpecialChar\Name">
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.Microsoft.Practices.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, Microsoft.Practices.EnterpriseLibrary.Data" />
        </extensions>
      </container>
      <container name="SpecialChar'Name">
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.Microsoft.Practices.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, Microsoft.Practices.EnterpriseLibrary.Data" />
        </extensions>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="DataAccessQuickStart" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
    <add name="CustomDatabase" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DBDoesNotExist" connectionString="server=(localdb)\v11.0;database=database;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GenericSQLTest" connectionString="Provider=SQLNCLI11;Data Source=(localdb)\v11.0;Integrated Security=SSPI;Initial Catalog=TestDatabase" providerName="System.Data.OleDb" />
    <add name="GenericSQLTestODBC" connectionString="Driver={SQL Server Native Client 11.0};Server=(localdb)\v11.0;Database=TestDatabase;TrustedConnection=Yes" providerName="System.Data.Odbc" />
    <add name="InvalidConnectionString" connectionString="server=bg1016-ent;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="InvalidSqlConnectionString" connectionString="server=bg1016-ent;" providerName="System.Data.SqlClient" />
    <add name="OracleDefaultPackageTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OracleTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="SQLCeTest" connectionString="Data Source=TestDb.sdf;" providerName="System.Data.SqlServerCe.4.0" />
    <add name="NonExistingProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="abc" />
    <add name="EmptyProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="" />
    <add name="SpaceProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName=" " />
    <add name="myConnection" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
    <add name="DataSQLTest" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataSQLTest">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.GenericDatabase, Microsoft.Practices.EnterpriseLibrary.Data" name="Some.Bogus.Name" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.SqlCe.SqlCeDatabase, Microsoft.Practices.EnterpriseLibrary.Data.SqlCe" name="System.Data.SqlServerCe.4.0" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data.Oracle" name="Oracle.ManagedDataAccess.Client" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data.SqlServer" name="System.Data.SqlClient" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.OleDb.OleDbDatabase, Microsoft.Practices.EnterpriseLibrary.Data.OleDb" name="System.Data.OleDb" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Odbc.OdbcDatabase, Microsoft.Practices.EnterpriseLibrary.Data.Odbc" name="System.Data.Odbc" />
    </providerMappings>
  </dataConfiguration>
  <oracleConnectionSettings>
    <add name="OracleTest">
      <packages>
        <add name="ENTLIBTEST" prefix="GetProductDetailsById" />
      </packages>
    </add>
  </oracleConnectionSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System">
    <sources>
      <add name="System" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="oracleConnectionString" value="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver"
           invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>