<configuration>
  <configSections>
    <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data" />
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
    <section name="oracleConnectionSettings" type="EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, EnterpriseLibrary.Data" />
    <section name="unity" type="Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container name="myContainer">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
        </extensions>
      </container>
      <container name="SpecialChar\Name">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
        </extensions>
      </container>
      <container name="SpecialChar'Name">
        <extensions>
          <add type="EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, EnterpriseLibrary.Common" />
          <add type="EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, EnterpriseLibrary.Data" />
        </extensions>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="DataAccessQuickStart" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=EntLibQuickStarts;Integrated Security=true" />
    <add name="CustomDatabase" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DBDoesNotExist" connectionString="server=(localdb)\v11.0;database=database;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GenericSQLTest" connectionString="Provider=SQLNCLI11;Data Source=(localdb)\v11.0;Integrated Security=SSPI;Initial Catalog=TestDatabase" providerName="System.Data.OleDb" />
    <add name="GenericSQLTestODBC" connectionString="Driver={SQL Server Native Client 11.0};Server=(localdb)\v11.0;Database=TestDatabase;TrustedConnection=Yes" providerName="System.Data.Odbc" />
    <add name="InvalidConnectionString" connectionString="server=bg1016-ent;" providerName="System.Data.OracleClient" />
    <add name="InvalidSqlConnectionString" connectionString="server=bg1016-ent;" providerName="System.Data.SqlClient" />
    <add name="OracleDefaultPackageTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" providerName="System.Data.OracleClient" />
    <add name="OracleTest" connectionString="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" providerName="System.Data.OracleClient" />
    <add name="SQLCeTest" connectionString="Data Source=TestDb.sdf;" providerName="System.Data.SqlServerCe.4.0" />
    <add name="NonExistingProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="abc" />
    <add name="EmptyProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName="" />
    <add name="SpaceProviderName" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true;" providerName=" " />
    <add name="myConnection" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
    <add name="DataSQLTest" providerName="System.Data.SqlClient" connectionString="server=(localdb)\v11.0;database=TestDatabase;Integrated Security=true" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataSQLTest">
    <providerMappings>
      <add databaseType="EnterpriseLibrary.Data.GenericDatabase, EnterpriseLibrary.Data" name="Some.Bogus.Name" />
      <add databaseType="EnterpriseLibrary.Data.SqlCe.SqlCeDatabase, EnterpriseLibrary.Data.SqlCe" name="System.Data.SqlServerCe.4.0" />
    </providerMappings>
  </dataConfiguration>
  <oracleConnectionSettings>
    <add name="OracleTest">
      <packages>
        <add name="ENTLIBTEST" prefix="GetProductDetailsById" />
      </packages>
    </add>
  </oracleConnectionSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System">
    <sources>
      <add name="System" type="EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="oracleConnectionString" value="Data Source=(DESCRIPTION=(CID=xe)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=xe)(SERVER=DEDICATED)));User Id=SYSTEM;Password=oracle;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>